{% extends "page/base.html" %}
{% load static %}
{% block content %}

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../static/page/images/Blog.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Publicaciones Cientificas</h1>
							<h2>El proyecto de investigacion a generado publicaciones en diferentes revistas </h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row">
				{% for publi in publicacion %}
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<div class="blog-text">
							<h3><a href=""#></a>{{publi.Titulo}}</h3>
							<p>{{publi.Resumen}}</p>
							<a href="{{publi.Enlace}}" class="btn btn-primary">Leer Articulo</a>
						</div> 
					</div>
				</div>
				{% endfor%}



			</div>
		</div>
	</div>
	
{% endblock%}
